In [1]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [15]:
# Load CSV into a DataFrame
df = pd.read_csv('C:/Users/kevin/OneDrive/Desktop/ML/laptops.csv')

# Display the first few rows
print(df.head())

                                              Laptop Status   Brand  \
0  ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...    New    Asus
1  Alurin Go Start Intel Celeron N4020/8GB/256GB ...    New  Alurin
2  ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...    New    Asus
3  MSI Katana GF66 12UC-082XES Intel Core i7-1270...    New     MSI
4  HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...    New      HP

        Model            CPU  RAM  Storage Storage type       GPU  Screen  \
0  ExpertBook  Intel Core i5    8      512          SSD       NaN    15.6
1          Go  Intel Celeron    8      256          SSD       NaN    15.6
2  ExpertBook  Intel Core i3    8      256          SSD       NaN    15.6
3      Katana  Intel Core i7   16     1000          SSD  RTX 3050    15.6
4         15S  Intel Core i5   16      512          SSD       NaN    15.6

  Touch  Final Price
0    No      1009.00
1    No       299.00
2    No       789.00
3    No      1199.00
4    No       669.01

In [17]:
# Check the shape of the DataFrame (rows, columns)
print(df.shape)

# To check the number of records (rows) only
print("Number of records (rows):", df.shape[0])

(2160, 12)
Number of records (rows): 2160

In [21]:
num_brands = df['Brand'].nunique()

print("Number of unique brands:", num_brands)

Number of unique brands: 27

In [23]:
# Check for missing values in each column
missing_values = df.isnull().sum()

print(missing_values)

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [25]:
# Check if there are any missing values in the DataFrame
print(df.isnull().values.any())

True

In [35]:
missing_values_count = df.isnull().sum()

print("Missing values count for each column:")
print(missing_values_count)



# Count of missing values in each column
missing_values_count = df.isnull().sum()

# Total number of missing values
total_missing = missing_values_count.sum()

print("Total missing values in the DataFrame:", total_missing)

Missing values count for each column:
Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64
Total missing values in the DataFrame: 1417

In [35]:
missing_values_count = df.isnull().sum()

print("Missing values count for each column:")
print(missing_values_count)



# Count of missing values in each column
missing_values_count = df.isnull().sum()

# Total number of missing values
total_missing = missing_values_count.sum()

print("Total missing values in the DataFrame:", total_missing)

Missing values count for each column:
Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64
Total missing values in the DataFrame: 1417

In [49]:




# Count of missing values in each column
missing_values_count = df['Brand'].isnull().sum()

# Total number of missing values
total_missing = missing_values_count.sum()

print("Total missing values in the DataFrame:", total_missing)

Total missing values in the DataFrame: 0

In [29]:
num_brands = df['Final Price'].max()

print("price of unique brands:", num_brands)

Number of unique brands: 7150.47

In [43]:
# Find the maximum final price
max_price = df['Final Price'].min()

print("Maximum final price:", max_price)

Maximum final price: 201.05

In [39]:
# Calculate the median value of the 'screen' column
median_screen = df['Screen'].median()

print("Median value of the 'screen' column:", median_screen)

Median value of the 'screen' column: 15.6

In [45]:
# Calculate the median value of the 'screen' column
median_screen = df['Screen'].median()

print("Median value of the 'screen' column:", median_screen)

Median value of the 'screen' column: 15.6

In [51]:
print(df.columns)

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')