In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.2.2'

In [7]:
# Load CSV into a DataFrame
df = pd.read_csv('C:/Users/kevin/OneDrive/Desktop/ML/laptops.csv')

# Display the first few rows
print(df.head())

                                              Laptop Status   Brand  \
0  ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...    New    Asus
1  Alurin Go Start Intel Celeron N4020/8GB/256GB ...    New  Alurin
2  ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...    New    Asus
3  MSI Katana GF66 12UC-082XES Intel Core i7-1270...    New     MSI
4  HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...    New      HP

        Model            CPU  RAM  Storage Storage type       GPU  Screen  \
0  ExpertBook  Intel Core i5    8      512          SSD       NaN    15.6
1          Go  Intel Celeron    8      256          SSD       NaN    15.6
2  ExpertBook  Intel Core i3    8      256          SSD       NaN    15.6
3      Katana  Intel Core i7   16     1000          SSD  RTX 3050    15.6
4         15S  Intel Core i5   16      512          SSD       NaN    15.6

  Touch  Final Price
0    No      1009.00
1    No       299.00
2    No       789.00
3    No      1199.00
4    No       669.01

In [8]:
# Check the shape of the DataFrame (rows, columns)
print(df.shape)

# To check the number of records (rows) only
print("Number of records (rows):", df.shape[0])

(2160, 12)
Number of records (rows): 2160

In [9]:
num_brands = df['Brand'].nunique()

print("Number of unique brands:", num_brands)

Number of unique brands: 27

In [10]:
# Check for missing values in each column
missing_values = df.isnull().sum()

print(missing_values)

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [11]:
# Check if there are any missing values in the DataFrame
print(df.isnull().values.any())

True

In [12]:
missing_values_count = df.isnull().sum()

print("Missing values count for each column:")
print(missing_values_count)



# Count of missing values in each column
missing_values_count = df.isnull().sum()

# Total number of missing values
total_missing = missing_values_count.sum()

print("Total missing values in the DataFrame:", total_missing)

Missing values count for each column:
Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64
Total missing values in the DataFrame: 1417

In [13]:
missing_values_count = df.isnull().sum()

print("Missing values count for each column:")
print(missing_values_count)



# Count of missing values in each column
missing_values_count = df.isnull().sum()

# Total number of missing values
total_missing = missing_values_count.sum()

print("Total missing values in the DataFrame:", total_missing)

Missing values count for each column:
Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64
Total missing values in the DataFrame: 1417

In [14]:




# Count of missing values in each column
missing_values_count = df['Brand'].isnull().sum()

# Total number of missing values
total_missing = missing_values_count.sum()

print("Total missing values in the DataFrame:", total_missing)

Total missing values in the DataFrame: 0

In [15]:
num_brands = df['Final Price'].max()

print("price of unique brands:", num_brands)

price of unique brands: 7150.47

In [16]:
# Find the maximum final price
max_price = df['Final Price'].min()

print("Maximum final price:", max_price)

Maximum final price: 201.05

In [17]:
# Calculate the median value of the 'screen' column
median_screen = df['Screen'].median()

print("Median value of the 'screen' column:", median_screen)

Median value of the 'screen' column: 15.6

In [18]:
# Calculate the median value of the 'screen' column
median_screen = df['Screen'].median()

print("Median value of the 'screen' column:", median_screen)

Median value of the 'screen' column: 15.6

In [19]:
print(df.columns)

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [23]:
import pandas as pd

# Load your data
df = pd.read_csv('C:/Users/kevin/OneDrive/Desktop/ML/laptops.csv')

# Filter for Dell notebooks
dell_notebooks = df[df['Brand'] == 'Dell']  # Make sure 'Brand' is the correct column name

# Calculate the maximum final price
max_price = dell_notebooks['Final Price'].max()  # Make sure 'Final Price' is the correct column name
print("Maximum final price of Dell notebooks:", max_price)

Maximum final price of Dell notebooks: 3936.0

In [27]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('C:/Users/kevin/OneDrive/Desktop/ML/laptops.csv')

# Select "Innjoo" laptops
innjoo_laptops = df[df['Brand'] == 'Innjoo']  # Adjust the brand name if necessary

# Select only columns RAM, Storage, Screen
selected_columns = innjoo_laptops[['RAM', 'Storage', 'Screen']]

# Get the underlying NumPy array
X = selected_columns.to_numpy()

# Compute matrix-matrix multiplication XTX
XTX = X.T @ X  # Transpose of X multiplied by X

# Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Compute w
w = XTX_inv @ X.T @ y

# Sum of all elements of the result
result_sum = np.sum(w)

print("Sum of all elements of w:", result_sum)

Sum of all elements of w: 91.29988062995588